@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Tangerine:400,700');
body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
  .title {
    font-size: 24px;
    a {
      text-decoration: none;
      color: black;
      &:visited {
        color: black;
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      font-size: 18px;
      margin-left: 1em;
      color: black;
      &:visited {
        color: black;
      }
    }
  }
}

.banner {
  background-image: url('../images/banner.jpg');
  background-size: cover;
  .blackener {
    background-color: rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10em 0;
    h2 {
      font-family: 'Tangerine', cursive;
      font-size: 64px;
      margin: 0;
      color: rgb(181, 181, 182);
    }
    h3 {
      font-family: 'Tangerine', cursive;
      font-size: 32px;
      margin: 0;
      color: rgb(127, 127, 134);
    }
    p{
      font-size: 24px;
      color: rgb(181, 181, 182);
    }
    a {
      text-decoration: none;
      font-size: 18px;
      padding: 1em;
      border: solid 2px rgb(181, 181, 182);
      border-radius: 2px;
      color: white;
      &:visited {
        color: white;
      }
    }
  }
}

.information {
  padding: 0 2em;
  display: flex;
  .info-panels {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-self: stretch;
    align-items: center;
    .image {
      border-radius: 50%;
      height: 150px;
      width: 150px;
    }
    .auth {
      background-image: url('../images/authentic.jpg');
      background-size: cover;
    }
    .buzz {
      background-image: url('../images/buzz.jpg');
      background-size: cover;
    }
    .pizza {
      background-image: url('../images/pizza.jpg');
      background-size: cover;
    }
    h2 {
      font-family: 'Tangerine', cursive;
      font-size: 48px;
      margin: 0.5em 0 0 0;
    }
  }
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    margin: 1em 0 1em 0;
  }
  a {
    text-decoration: none;
    font-size: 18px;
    padding: 1em;
    border: solid 2px black;
    border-radius: 2px;
    color: white;
    &:visited {
      color: black;
    }
  }
}

footer {
  text-align: center;
  margin: 2em 0;
}



/* THE REST OF THE EVERYTHING */

.update-user {
  h2 {
    margin: 0;
  }
  .email {
    font-size: 18px;
    margin-bottom: 1em;
  }
}

.content {
  display: flex;
  flex-direction: column;

  .order {
    padding-bottom: 1em;
  }

  .shipping {
    .shipping-info {
      margin-left: 1em;
    }
  }

  .pizza {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    .ingredients {
      margin-left: 1em;
    }

    .base-ingredients {
      display: flex;
    }

    .dough, .cheese, .sauce {
      margin-right: 1em;
    }

    .toppings {

    }

    .topping {
      display: inline;
    }

    .topping:after {
      content: '&';
    }

    .topping:last-child:after {
      content: '';
    }

  }

  form {
    margin-bottom : 1em;
    min-width: 350px;
    max-width: 350px;
    button {
      float: right;
    }

    select {
      min-width: 100px;
      border-radius: 2px;
      padding: 0.25em;
    }

    input[type='text'], input[type='email'], input[type='password'] {
      padding: 0.5em;
      border-radius: 2px;
      border: solid 1px rgb(107, 107, 107);
    }

    .input {
      display: flex;
      justify-content: space-between;
      min-width: 300px;
      margin-bottom:  1em;
      .checkbox {
        display: flex;
        justify-content: space-between;
        min-width: 175px;
      }
    }
  }
}
